body {
    font-family: iransans;
}

@font-face {
    font-family: iransans;
    src: url("../font/IRANSansXRegular.ttf");
}

@font-face {
    font-family: iransansXdemibold ;
    src: url("../font/IRANSansXDemiBold.ttf");
}

.bi-person-circle {
    font-size: 35px;
    color: #361cde;
}

.p-login {
    color: #361cde;
}

.down-login {
    font-size: 13px;
    color: #361cde;
}

.bi-cart-fill {
    font-size: 30px;
    color: #361cde;
    cursor: pointer;
}

.bi-chat-left-text-fill {
    font-size: 27px;
    color: #ffb700;
    cursor: pointer;
}

.p-phone {
    border: 1px solid #361cde;
    color: #361cde;
    padding: 8px 18px;
    border-radius: 5px;
}

button {
    background: none;
    border: none;
}

.bi-person-check {
    font-size: 30px;
    color: #361cde;
}

.bi-person-check:hover {
    font-size: 30px;
    color: #361cde;
}

.p-dropdown-login {
    font-family: iransansXdemibold;
}

.p-dropdown-login2 {
    font-family: iransansXdemibold;
    color: #361cde;
    border: 1px solid #361cde;
    width: 250px;
    height: 60px;
}

.p-dropdown-login2:hover {
    color: white;
    background-color: #361cde;
    transition: 0.5s;
}

.bi-person-plus {
    font-size: 30px;
    color: #361cde;
}

.p-dropdown-membership {
    font-family: iransansXdemibold;
}

.p-dropdown-membership2 {
    font-family: iransansXdemibold;
    color: #361cde;
    border: 1px solid #361cde;
    width: 250px;
    height: 60px;
}

.p-dropdown-membership2:hover {
    color: white;
    background-color: #361cde;
    transition: 0.5s;
}

.bi-person {
    font-size: 30px;
    color: #361cde;
}

.p-dropdown-support {
    font-family: iransansXdemibold;
}

.p-dropdown-support2 {
    font-family: iransansXdemibold;
    color: #361cde;
    border: 1px solid #361cde;
    width: 250px;
    height: 60px;
}

.p-dropdown-support2:hover {
    color: white;
    background-color: #361cde;
    transition: 0.5s;
}

.dropdown-login {
    height: 190px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    height: 45px;
    width: 250px;
}

.down-menu {
    font-size: 13px;
}

.box-domain {
    border: 2px solid #ffb700;
}

.h5-box-domain {
    color: #361cde;
    font-family: iransansXdemibold;
}

.p-box-domain {
    font-size: 18px;
}

.line-box-domain {
    border: 1px solid #361cde;
    height: 200px;
    width: 0px;
}

.li-box-domain {
    font-size: 18px;
}

.li-box-domain {
    list-style: none;
    cursor: pointer;
}

.li-box-domain:before {
    content: "• ";
    font-size: 20px;
    color: black;
}

.li-box-domain:hover:before {
    color: #ffb700;
}

.dropdown-domain {
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    height: 450px;
}

.box-web-hosting {
    border: 2px solid #ffb700;
}

.h5-box-web-hosting {
    color: #361cde;
    font-family: iransansXdemibold;
}

.p-box-web-hosting {
    font-size: 18px;
}

.line-box-web-hosting {
    border: 1px solid #361cde;
    height: 130px;
    width: 0px;
}


.li-box-web-hosting {
    font-size: 18px;
    list-style: none;
    cursor: pointer;
}

.li-box-web-hosting:before {
    content: "• ";
    font-size: 20px;
    color: black;
}

.li-box-web-hosting:hover:before {
    color: #ffb700;
}

.line-box-web-hosting2 {
    border: 1px solid #361cde;
    height: 90px;
    width: 0px;
}

.dropdown-web-hosting {
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    height: 360px;
}

.box-website {
    border: 2px solid #ffb700;
}

.h5-box-website {
    color: #361cde;
    font-family: iransansXdemibold;
}

.p-box-website {
    font-size: 18px;
}

.line-box-website {
    border: 1px solid #361cde;
    height: 65px;
    width: 0px;
}

.li-box-website {
    font-size: 18px;
    list-style: none;
    cursor: pointer;
}

.li-box-website:before {
    content: "• ";
    font-size: 20px;
    color: black;
}

.li-box-website:hover:before {
    color: #ffb700;
}

.dropdown-website {
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    height: 360px;
}