body {
    font-family: iransans;
}

@font-face {
    font-family: iransans;
    src: url("../font/IRANSansXRegular.ttf");
}

@font-face {
    font-family: iransansXdemibold ;
    src: url("../font/IRANSansXDemiBold.ttf");
}

.bi-person-circle {
    font-size: 35px;
    color: #361cde;
}

.p-login {
    color: #361cde;
}

.down-login {
    font-size: 13px;
    color: #361cde;
}

.bi-cart-fill {
    font-size: 30px;
    color: #361cde;
}

.bi-chat-left-text-fill {
    font-size: 27px;
    color: #ffb700;
}

.p-phone {
    border: 1px solid #361cde;
    color: #361cde;
    padding: 8px 18px;
    border-radius: 5px;
}

button {
    background: none;
    border: none;
}

.bi-person-check {
    font-size: 30px;
    color: #361cde;
}

.p-dropdown-login {
    font-family: iransansXdemibold;
}

.p-dropdown-login2 {
    font-family: iransansXdemibold;
    color: #361cde;
    border: 1px solid #361cde;
    width: 250px;
    height: 60px;
}

.p-dropdown-login2:hover {
    color: white;
    background-color: #361cde;
    transition: 0.5s;
}

.bi-person-plus {
    font-size: 30px;
    color: #361cde;
}

.p-dropdown-membership {
    font-family: iransansXdemibold;
}

.p-dropdown-membership2 {
    font-family: iransansXdemibold;
    color: #361cde;
    border: 1px solid #361cde;
    width: 250px;
    height: 60px;
}

.p-dropdown-membership2:hover {
    color: white;
    background-color: #361cde;
    transition: 0.5s;
}

.bi-person {
    font-size: 30px;
    color: #361cde;
}

.p-dropdown-support {
    font-family: iransansXdemibold;
}

.p-dropdown-support2 {
    font-family: iransansXdemibold;
    color: #361cde;
    border: 1px solid #361cde;
    width: 250px;
    height: 60px;
}

.p-dropdown-support2:hover {
    color: white;
    background-color: #361cde;
    transition: 0.5s;
}

.dropdown-login {
    height: 190px;
}