<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iranhost</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icon/bootstrap-icons-1.9.1/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-12 p-0">
            <a href="index.html">
                <img src="../assets/image/1920.jpg" alt="img-header">
            </a>
        </div>
    </div>
</div>

<div class="container-fluid text-center mt-3">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-5">
                    <div data-bs-toggle="dropdown">
                        <button><i class="bi bi-person-circle"></i></button>
                        <button class="p-login ps-2 pe-2">ورود</button>
                        <button><i class="bi bi-chevron-down mt-3 down-login"></i></button>
                        <div class="container-fluid dropdown-login dropdown-menu">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 text-end">
                                            <div class="row">
                                                <div class="col-7 text-center">
                                                    <div class="d-inline-flex">
                                                        <i class="bi bi-person-check ps-2"></i>
                                                        <p class="p-dropdown-login mt-2">ورود</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-end">
                                                <div class="row">
                                                    <div class="col-7 text-start">
                                                        <p>قبلا عضو شده اید؟ وارد شوید</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-end">
                                                <div class="row">
                                                    <div class="col-8 text-start">
                                                        <button class="p-dropdown-login2 shadow ">
                                                            ورود
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 text-end">
                                            <div class="row">
                                                <div class="col-4 text-center">
                                                    <div class="d-inline-flex">
                                                        <i class="bi bi-person-plus ps-2"></i>
                                                        <p class="p-dropdown-membership mt-2">عضویت</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-8 text-start">
                                                        <p>کاربر جدید هستید؟ حساب کاربری جدید ایجاد کنید.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-end">
                                                    <div class="row">
                                                        <div class="col-8 text-center">
                                                            <button class="p-dropdown-membership2 shadow">
                                                                عضویت
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 text-end">
                                            <div class="d-inline-flex">
                                                <i class="bi bi-person ps-2"></i>
                                                <p class="p-dropdown-support mt-2">پشتیبانی</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-end">
                                            <div class="d-flex">
                                                <p>برای ورود به پرتال پشتیبانی ایران هاست کلیک کنید.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-end">
                                                <div class="d-flex">
                                                    <button class="p-dropdown-support2 shadow d-flex justify-content-center align-items-center">
                                                        پرتال
                                                        پشتیبانی
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-10 text-start">
                    <i class="bi bi-cart-fill"></i>
                    <i class="bi mt-1 bi-chat-left-text-fill pe-4 ps-4"></i>
                    <button class="p-phone">021-83305</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-3 text-center">
                    <div class="row">
                        <div class="col-10 text-start">
                            <img src="../assets/image/iranHost-Logo.svg" class="logo mt-2">
                        </div>
                    </div>
                </div>
                <div class="col-9 text-end mt-3">
                    <div class="row">
                        <div class="col-1">
                            <div class="d-flex" data-bs-toggle="dropdown">
                                <button><i class="bi bi-chevron-down"></i></button>
                                <button>دامین</button>
                                <div class="container-fluid mt-3 dropdown-domain dropdown-menu">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-11 text-start">
                                                    <div class="box-domain me-5">
                                                        <h5 class="m-3 text-end h5-box-domain">دامین یا دامنه</h5>
                                                        <p class="m-3 text-end p-box-domain">چنانچه می خواهید برای
                                                            موسسه خود سایت ایجاد نمایید اولین قدم ثبت یک نام برای سایت
                                                            می باشد به
                                                            این نام که به صورت انحصاری ثبت می گردد دامنه یا Domain می
                                                            گویند هر نام از دو
                                                            قسمت تشکیل شده است که با نقطه از یکدیگر جدا می شوند قسمت اول
                                                            که قسمت
                                                            اصلی نام بوده و می تواند نام موسسه یا نام محصول ویا هر نام
                                                            دلخواه دیگر (به شرط آنکه قبلا
                                                            توسط شخص دیگری ثبت نشده باشد) باشد و قسمت دوم که شناسه نام
                                                            یا پسوند می باشد و با توجه به نوع
                                                            سایت می توان آنرا انتخاب نمود.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-1 text-end">
                                                    <div class="line-box-domain"></div>
                                                </div>
                                                <div class="col-5 text-end">
                                                    <h5 class="h5-box-domain">دامین </h5>
                                                    <ul class="p-0">
                                                        <li class="li-box-domain">خدمات دامنه</li>
                                                        <li class="li-box-domain">جستجوی دامنه</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-1 text-end">
                                                    <div class="line-box-domain"></div>
                                                </div>
                                                <div class="col-5 text-end">
                                                    <h5 class="h5-box-domain">راهنما</h5>
                                                    <ul class="p-0">
                                                        <li class="li-box-domain">اطلاعات پسوندها</li>
                                                        <li class="li-box-domain">قوانین دامین</li>
                                                        <li class="li-box-domain">چرخه حیات دامین</li>
                                                        <li class="li-box-domain">نحوه انتقال دامین</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 p-0">
                            <div class="d-flex" data-bs-toggle="dropdown">
                                <button><i class="bi bi-chevron-down"></i></button>
                                <button>میزبانی وب</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-9 text-start">
                    <div class="box-web-hosting">
                        <h5 class="m-3 text-end h5-box-web-hosting">میزبانی وب</h5>
                        <p class="m-3 text-end p-box-web-hosting">ایران هاست با ارائه انواع مختلف سرویس میزبانی روی اینترنت متناسب با هر بودجه، امکان معرفی
                            موسسه شما
                            بر روی اینترنت را فراهم آورده است سرورهای پر سرعت ایران هاست جایگاه مناسبی برای سایت شما می
                            باشند.
                            در حال حاضر ایران هاست مجهز به چندین سرویس دهنده اختصاصی بوده و کلیه سرور ها در ایران و خارج
                            از
                            ایران نگهداری می شوند ...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-1 text-end">
                    <div class="line-box-web-hosting"></div>
                    <div class="line-box-web-hosting2 mt-4"></div>
                </div>
                <div class="col-8 text-end">
                    <h5 class="h5-box-web-hosting">میزبانی وب اشتراکی </h5>
                    <ul class="p-0">
                        <li class="li-box-web-hosting">هاست ویندوز</li>
                        <li class="li-box-web-hosting">هاست لینوکس ابری</li>
                        <li class="li-box-web-hosting">هاست وردپرس ابری</li>
                    </ul>
                    <h5 class="h5-box-web-hosting mt-5">میزبانی وب اختصاصی</h5>
                    <ul class="p-0">
                        <li class="li-box-web-hosting">هاست اختصاصی</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/bootstrap.bundle.js"></script>
</body>
</html>
