<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iranhost</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icon/bootstrap-icons-1.9.1/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>

<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-12 div-header-advertise">
            <a href="index.html">
                <img src="../assets/image/1920.jpg" alt="img-header">
            </a>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="d-flex justify-content-center dropdown mt-3">
        <div class="d-flex div-menu" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i>
            <p class="p-login mt-2 ps-2 pe-2">ورود</p>
            <i class="bi bi-chevron-down mt-3 down-login"></i>
            <div class="container-fluid text-center dropdown-login dropdown-menu">
                <div class="row">
                    <div class="col-4">
                        <div class="col-7">
                            <div class="d-inline-flex">
                                <i class="bi bi-person-check ps-2"></i>
                                <p class="p-dropdown-login mt-2">ورود</p>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="d-flex justify-content-center">
                                <p>قبلا عضو شده اید؟ وارد شوید</p>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="d-flex justify-content-center">
                                <p class="p-dropdown-login2 shadow d-flex justify-content-center align-items-center">
                                    ورود</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-4">
                            <div class="d-inline-flex">
                                <i class="bi bi-person-plus ps-2"></i>
                                <p class="p-dropdown-membership mt-2">عضویت</p>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="d-flex justify-content-center">
                                <p>کاربر جدید هستید؟ حساب کاربری جدید ایجاد کنید.</p>
                            </div>
                            <div class="col-9">
                                <div class="d-flex justify-content-center">
                                    <p class="p-dropdown-membership2 shadow d-flex justify-content-center align-items-center">
                                        عضویت</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="col-7">
                            <div class="d-inline-flex">
                                <i class="bi bi-person ps-2"></i>
                                <p class="p-dropdown-support mt-2">پشتیبانی</p>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="d-flex justify-content-center">
                                <p>برای ورود به پرتال پشتیبانی ایران هاست کلیک کنید.</p>
                            </div>
                            <div class="col-10">
                                <div class="d-flex justify-content-center">
                                    <p class="p-dropdown-support2 shadow d-flex justify-content-center align-items-center">
                                        پرتال
                                        پشتیبانی</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end div-menu2">
            <i class="bi bi-cart-fill"></i>
            <i class="bi mt-1 bi-chat-left-text-fill pe-4 ps-4"></i>
            <p class="p-phone">021-83305</p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/bootstrap.bundle.js"></script>
</body>
</html>
