<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/iconbootstrap/bootstrap-icons-1.9.1/iconbootstrap.css">
</head>
<body>

<div class="container-fluid text-center header-advertise">
</div>

<script src="../assets/js/bootstrap.js"></script>
</body>
</html>